* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  background-color: bisque;
}
#calculator {
  border: 1px solid rgb(206, 42, 42);
  border-radius: 5px;
  width: 25%;
}

#display {
  margin: 15px;
  width: 92%;
  font-size: 50px;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  width: 95px;
  height: 90px;
  margin: 3px;
  font-weight: 700;
  font-size: larger;
}
@media only screen and (max-width: 600px) {
  #calculator {
    width: 90%;
  }

  .button {
    width: 45%;
    font-size: 1.2em;
  }
}